<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet/less" type="text/css" href="/css/credentials.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
</head>
<body>
    <% if(isloggedin){ %>
    <div class="wrapper">
        <div class="container">
            <h1>please fill this form... </h1>
            <h1>so that we can setup your profile</h1>
            <% if(error){ %>
                <h3 style="padding: 5px;color: rgb(238, 0, 0); background-color: rgba(255, 69, 0,0.1);font-weight: 600;width: 300px; text-align: center; margin: auto;">Wrong password!! Try again</h3>
                <% } %>
            <form class="form" action="/credentials" method="POST" enctype="multipart/form-data">
                <input type="text" placeholder="First Name" name="firstName">
                <input type="text" placeholder="Last Name" name="lastName">
                <input type="text" placeholder="Phone Number" name="phoneNo">
                <input type="file" name="profilePic" placeholder="Profile Pic">
                <input type="text" placeholder="Year" name="year">
                <input type="text" placeholder="Username" name="userName">
                <input type="password" placeholder="Password" name="password">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" id="login-button">Create Profile</button>
            </form>
        </div>
    </div>
    <% }else{ %>
        <div>
            <h1>page not found!!</h1>
        </div>
        <% } %>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/credentials.js"></script>
</body>
</html>