<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><% pageTitle %>></title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
    <div class="form-wrapper">
        <h1>Login here</h1><br>
        <form action="/login" method="POST" class="form">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <button type="submit">login</button>
        </form>
        </div>
        <% if(error){ %>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Invalid email or password !! Try again',
                footer: '<a href>Why do I have this issue?</a>'
            })
        </script>
        <% }%>
        </div>
    </div>
</body>
</html>