* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.heading-main {
    font-family: "Lacquer", sans-serif;
}

header div img {
    padding: 4px;
}

header div p {
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    margin-left: -18px;
    position: relative;
    left: 3px;
    top: 7px;
}

header div a {
    position: relative;
    left: 960px;
  /* top: 10px; */
}

header div button {
    position: relative;
    left: 980px;
  /* top: 10px; */
}

.logout-form{
    display: inline-block;
}

.logout-form button{
    background: none !important;
    border: none;
    padding: 4px;
    border-radius: 7px;
    cursor: pointer;
    /* text-decoration: underline; */
}