*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.heading-main{
    font-family: 'Lacquer', sans-serif;
}

header div img{
    padding: 10px;
}

header div a{
    position: relative;
    left: 980px;
    top: 10px;
}

header div p{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    left: 5px;
    top: 10px;
}

header div button{
    position: relative;
    left: 1000px;
    top: 10px;
}