*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    height: 100vh;
    background-color: #FCFDFD;
}

header div img{
    padding: 4px;
}

header div p{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-left: -14px;
    position: relative;
    left: 5px;
    top: 10px;
}

.left-block{
    position: relative;
    left: -10px;
    top: 30px;
}

.heading-main{
    font-family: 'Lacquer', sans-serif;
}

.profile-pic img{
    border-radius: 50%;
}

.profile-name p{
    margin-top: 15px;
    line-height: 17px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.profile-year{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.skill-list{
    padding: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.skill-list>p{
    color: grey;
    opacity: 9;
}

.skill{
    /* padding: 2px; */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.friend-list{
    padding: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: hidden;
}


.friend-image{
    border-radius: 50%;
}
