@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.form-container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	padding: 30px;
}

.form input{
	border-radius: 4px;
	display: block;	
	width: 260px;
	margin-bottom: 20px;
	padding: 10px;
}

.form button{
	background-color: blueviolet;
	padding: 10px;
	border-radius: 10px;
	color: whitesmoke;
}

.form button:hover{
	background-color: royalblue;
	padding: 12px;
	border-radius: 10px;
	color: white;
}