<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <header>
        <div>
            <img src="images/logo.png" alt="" width="80px" height="auto">
            <p>ConnectX</p>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 left-block">
                <div class="profile-pic">
                    <img src="images/pp.jpg" alt="kr" width="160px" height="160px">
                </div>
                <div class="profile-name">
                    <p>yash chaudhary</p>
                </div>
                <div class="profile-year">
                    <p>second year</p>
                </div>
            </div>
            <div class="col-lg-6 middle-block">
                <article class="skill-list">
                    <p>Yash spends most of their time on</p>
                    <div class="skill"><p>network security</p></div>
                    <div class="skill"><p>machine learning</p></div>
                    <div class="skill"><p>deep learning</p></div>
                    <div class="skill"><p>competitive programming</p></div>
                </article><br>
                <article class="friend-list">
                    <p>Friends</p>
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                    <img src="images/pp.jpg" alt="fuck" width="60px" height="60px" class="friend-image">
                </article>
            </div>
            <div class="col-lg-3 right-block"></div>
        </div>
    </div>
</body>
</html>